<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.创建dao层对象：
            StudentMapper对象 映射器对象
            指定创建映射器的接口所在位置
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.briup.dao"/>
    </bean>
    <!--2.mybatis框架需要的对象
         sqlSessionfactory对象：
         environments（环境配置）
         typeAliases（类型别名）
         映射器（mappers）
    -->

    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="typeAliasesPackage" value="com.briup.bean"/>
        <property name="mapperLocations" value="classpath:mappers/**/*.xml/"/>
    </bean>

    <!--3.创建数据库连接池对象：管理连接对象 连接数据库基本信息
         创建bean对象可以读取配置文件实现获取连接信息:
    -->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--4.指定spring查找的配置文件 context-->
    <context:property-placeholder location="classpath:db.properties"/>
</beans>